<!DOCTYPE html>
<html>
<head>
	<title>TODO管理</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

	<div id="app">
		<h2>TODO list</h2>
		<form v-on:submit.prevent>
			<input type="text" v-model="newItem">
			<button v-on:click="addItem">
				Add
			</button>
		</form>
		<ul>
			<li v-for="(todo, index) in todos">
				<input type="checkbox" v-model="todo.isDone">
				<span v-bind:class="{ done: todo.isDone }">{{ todo.item }}</span>
				<button v-on:click="deleteItem(index)">Delete</button>
			</li>
		</ul>
		<!-- デバッグ用
			<pre>{{ $data }}</pre>
			 -->
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="main.js"></script>

</body>
</html>