#app ul{
	list-style: none;
}

#app li > span.done {
	text-decoration: line-through;
}

#app ul > li > button {
	margin-top: 10px;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}
